<footer>
  <div class="wrapper">
    <a class="h1-link" [routerLink]="'/home'">
      <h1>Comfy<span class="grayed_logo">Store</span></h1>
    </a>
    <ul class="menu">
      <li>
        <a [routerLink]="'/home'">{{'home' | uppercase}}</a>
      </li>
      <li>
        <a [routerLink]="'/womens'">{{'women' |uppercase}}</a>
      </li>
      <li>
        <a [routerLink]="'/mens'">{{'men' | uppercase}}</a>
      </li>
      <li>
        <a [routerLink]="'/jewelery'">{{'jewelery' | uppercase}}</a>
      </li>
    </ul>
    <div class="social">
      <a href="https://www.facebook.com/iakobi.janashvili/">
        <img src="assets/footer-social/facebook-f.svg">
      </a>
      <a href="https://www.instagram.com/janashviliiakobi">
        <img src="assets/footer-social/instagram.svg">
      </a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        <img src="assets/footer-social/youtube.svg">
      </a>
    </div>
  </div>
  <p class="copyright">&#169;2023 All Rights Reserverd. This site is made with &hearts; by Jacob janashvili </p>
</footer>
