<footer>
  <div class="wrapper">
    <ul class="menu">
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact us</a>
      </li>
    </ul>
    <div class="social">
      <a href="#">
        <img src="assets/footer-social/facebook-f.svg">
      </a>
      <a href="#">
        <img src="assets/footer-social/instagram.svg">
      </a>
      <a href="#">
        <img src="assets/footer-social/youtube.svg">
      </a>
    </div>
  </div>
  <p class="copyright">&#169;2023 All Rights Reserverd. This site is made with &hearts; by Jacob janashvili </p>
</footer>
