:host {
  width: 90%;
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (min-width:280px) and (max-width: 920px) {
  :host{
    grid-template-columns: repeat(1, 1fr);
  }
}
