.item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  margin-left: 80px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.delete-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  cursor: pointer;
}

.delete-icon::before {
  content: "\2715";
}

.item-img {
  width: 100px;
  height: 150px;
  object-fit: contain;
}

.description-wrapper {
  text-align: center;
  word-break: break-all;
  width: 30%;
}

.empty_cart_img {
  margin-left: 25%;
}

.price{
  font-weight: bold;
}

@media (min-width: 280px) and (max-width: 912px) {
  .item {
    flex-direction: column;
  }
  .description-wrapper{
    width: 100%;
  }
}
