@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(50%);
}
.form_wrapper {
  width: 440px;
  height: 440px;
  font-family: "Poppins", sans-serif;
}

.form_label {
  font-size: 1.2rem;
  padding-bottom: 3%;
  display: block;
}

.form_wrapper h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 11px 12px;
  font-size: 1.2rem;
}

.survey_form {
  width: 100%;
}

.form_div {
  margin: 10% 0;
}

.form_submit {
  all: unset;
  width: 100%;
  text-align: center;
  border: 1px solid #353535;
  background-color: #353535;
  color: white;
  padding: 12px 15px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.error_text {
  color: red;
  font-size: 10px;
}
