<div class="wrapper">
  <div class="menu-women">
    <img src="assets/images/home-item-women.jpg" />
    <div class="home-title-women" [routerLink]="'/womens'">
      <a>{{ "womens's" | uppercase }}</a>
    </div>
  </div>
  <div class="menu-men">
    <img src="assets/images/home-item-men.jpg" />
    <div class="home-title-men" [routerLink]="'/mens'">
      <a>{{ "men's" | uppercase }}</a>
    </div>
  </div>
  <div class="menu-jewelry">
    <img src="assets/images/home-item-jewelry.jpg" />
    <div class="home-title-jewelry" [routerLink]="'/jewelery'">
      <a>{{ "jewelery" | uppercase }}</a>
    </div>
  </div>
</div>
<section class="shop-item-section">
  <h1>{{ "new arrivals" | titlecase }}</h1>
  <div class="line_below_title"></div>
  <app-product-list></app-product-list>
</section>
<section class="newsletter">
  <div class="newsletter_wrapper">
    <div class="newsletter_title_div">
      <h2>{{ "newsleter" | titlecase }}</h2>
      <p>Subscribe to our newsletter and get 20% off your first purchase</p>
    </div>
    <form [formGroup]="emailForm">
      <div class="subscribe_div">
        <div class="subscribe_input_div">
          <input
            type="text"
            class="subscribe_input"
            formControlName="email"
            [ngStyle]="{
              border:
                (emailForm.get('email').errors && emailForm.get('email').touched) || submitted
                  ? '1px solid red'
                  : '1px solid #353935'
            }"
          />

          <button
            [ngClass]="subscribed ? 'subscribed' : 'subscribe_button'"
            (click)="newsLetterSubscribe()"
            [disabled]="subscribed"
          >
            {{ subscribed ? "subscribed" : "subscribe" }}
          </button>
        </div>
        <div *ngIf="emailForm.get('email').touched || submitted">
          <p
            class="error_text"
            *ngIf="emailForm.get('email').errors?.['required']"
          >
            * Email required
          </p>
          <p
            class="error_text"
            *ngIf="emailForm.get('email').errors?.['email']"
          >
            * Invalid email
          </p>
        </div>

      </div>
    </form>
  </div>
</section>
