<header>
  <nav>
    <a class="h1-link" routerLink="">
      <h1>Comfy<span class="grayed_logo">Store</span></h1>
    </a>
    <div class="subflex">
      <ul>
        <li>
          <a>Home</a>
        </li>
        <li>Women</li>
        <li>Men</li>
        <li>Jewelry</li>
      </ul>
      <a routerLink="cart">
        <img class="cart" src="../assets/icons/bag-shopping-solid.svg" alt="" />
      </a>
      <a class="sign_up_btn" href="#">Sign Up</a>
      <a href="#" class="burger_btn" (click)="toggleBurgerMenu()">☰</a>
    </div>
  </nav>
  <div class="responsive_menu" [ngClass]="{ hidden: burgerMenuIsClosed }">
    <p class="exit_sign" (click)="toggleBurgerMenu()">&#10006;</p>
    <div class="responsive_sub_flex">
      <ul>
        <li>Home</li>
        <li>Women</li>
        <li>Men</li>
        <li>Jewelry</li>
        <li>My Items</li>
        <li>My Account</li>
      </ul>
    </div>
  </div>
</header>
