@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "Poppins", sans-serif;
  position: relative;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);

}

nav .subflex {
  display: flex;
  align-items: center;
}

nav .h1-link{
  display: inline-block;
  padding: 1%;
  text-decoration: none;
}

nav h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin-left: 2%;
  color: black;
  font-size: 20px;
  text-align: center;
  margin: 2%;
  
}


nav h1 span {
  font-weight: 700;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 13px;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cart {
  position: relative;
  margin: 0 13px;
  cursor: pointer;
}

nav ul li::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #353935;
  margin: 0 auto;
}

nav ul li:hover::after {
  width: 100%;
  transition: 0.3s ease-in;
}

.sign_up_btn {
  text-decoration: none;
  color: #353935;
  padding: 10px 20px;
  border: 2px solid #353935;
  border-radius: 4px;
  margin-right: 13px;
}

.sign_up_btn:hover {
  color: white;
  background-color: #353935;
  transition: 0.3s ease-in;
}

.burger_btn {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: none;
}

.responsive_menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  right: 0;
  top: 0;
  padding: 10px;
  color: white;
  transition: 0.3s;
  z-index: 3;
}

.responsive_sub_flex ul {
  list-style: none;
  margin: 15px;
}

.responsive_sub_flex ul li {
  margin: 10px 0;
}

.responsive_sub_flex {
  display: flex;
  flex-direction: column;
}

.exit_sign {
  color: white;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.hidden {
  right: 100%;
}

.responsive_menu_opened {
  right: 0;
  top: 0;
}


@media screen and (max-width: 912px) {

  nav {
    width: 100vw;
    padding: 1%;
  }

  nav .subflex ul {
    display: none;
  }

  nav .subflex .cart {
    display: none;
  }

  nav .subflex .sign_up_btn {
    display: none;
  }

  nav .burger_btn {
    display: block;
    margin-left: -5vw;
    font-size: 20px;
  }

  .exit_sign {
    font-size: 20px;
  }
}

@media (max-width: 414px) {
  nav h1 {
    font-size: 1rem;
  }
}
